*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/***********common_css**************/

body
{
	font-family: 'Poppins', sans-serif; 
	line-height: 1.5em;
}
h1,h2,h3,h4,h5,h6
{
	font-weight: 500;
	line-height: 1.5em;
}
p
{
	font-weight: 400;
	line-height: 1.5em;
}

/***********header_area**************/

#header_area
{
	padding: 24px 0px;
	border-top: 10px solid black;
	background-color: #f8f8f8;
	width: 100%;

}
#header_area form
{
	width:300px;
	float: right;
}

#header_area form input
{
	border: 1px solid #ddd;
	color: #7f7f7f;
	background-color: #ffffff;
	padding: 12px;
	width: 216px;
	float: left;
	font-size: 16px;

}
#header_area form input[type="submit"]
{
	background-color: #d54346;
	font-size: 15px;
	color: #ffffff;
	width:84px;
	border: 2px solid #d54346;
	text-transform: uppercase;

}

/***********main_menu_area**************/
#main_menu
{
	width: 100%;
	padding: 18px 0px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	
}
#main_menu ul#nav
{
	list-style: none;
	text-align: left;	
}
#main_menu ul#nav li
{
	display: inline-block;
	position: relative;
}
#main_menu ul#nav li a
{
	font-size: 16px;
	text-align: center;
	color: #333333;
	text-transform: uppercase;
	display: block;
	padding: 0px 20px;
	font-weight: 400;
	text-decoration: none;


}
#main_menu ul#nav li a span
{
	font-size: 14px;
	text-align: left;
	color: #7f7f7f;
	display: block;
	text-transform: lowercase;
	line-height: 1rem;

}
#main_menu ul#nav li a:hover
{
	color: #d54346;

}
#main_menu ul#nav li a span:hover
{
	color: #d54346;

}
#main_menu .social_area
{
	
}
#main_menu .social_area ul
{
	list-style: none;
	float: right;
}
#main_menu .social_area ul li
{
	display: inline-block;
	margin-left: 10px;
}
#main_menu .social_area ul li i
{
	background-color: #333333;
	height: 35px;
	width: 35px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	display: block;
	padding-top: 9px;
	cursor: pointer;
}
#main_menu .social_area ul li i:hover
{
	background-color: #d54346;
}
#main_menu .social_area ul li a:hover
{
	background-color: #d54346;
}

/***********banner _area**************/

#banner
{
	width: 100%;
	position: relative;

}
#banner img{
	height: auto;
	width: 100%;
}
#banner .inner_text
{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50% ,-50%);

}
#banner .inner_text h1
{
		font-size: 90px;
		color: #fff;
		text-align: center;
		
		
}
#banner .inner_text h2
{
	font-size: 50px;
		color: #fff;
		line-height: 1.6rem;
		text-align: center;
		text-transform: uppercase;
		margin-top: 20px;

}
#banner .outer_text
{
	background-color: #000;
	text-align: center;
	padding-top: 12px; 
}
#banner .outer_text p
{
	color: #fff;
	font-size: 16px;
	line-height: 1rem;
}

/***********client_area**************/

#client_section
{
	padding: 40px 0px;
	width: 100%;
	text-align: center;
	/*background-color: blue;*/
}
#client_section h1
{
	color: #4a4a4a;
	font-size: 50px;

}
#client_section p
{
	color: #999999;
	font-size: 20px;
}
#client_section img
{
	display: block;
	margin:0 auto 10px;
}
#client_section a
{
	color: #d54346;
	font-size: 20px;
}

/***********project _area**************/

#project_area 
{
	background-color: #fff;
	padding: 50px 0px;
	border-top: 2px solid #ddd;
	clear:both;
}
#project_area h2
{
	text-transform: uppercase;
	text-align: right;
	color: #d44346;
	font-size: 66px;
	/*margin-bottom: 0;*/
	line-height: 1.2em;
}
#project_area p
{
	text-transform: uppercase;
	text-align: right;
	color: #838383;
	font-size: 20px;
	margin-bottom: 30px;
	line-height: 1em;
}
#project_area .child_project
{
	width: 48%;
	padding: 10px;
	float: left;
	margin: 0 1% 10px;
	text-align: center;
}
#project_area .child_project img
{
	margin-bottom: 15px;	
}
#project_area .child_project h4
{
	color: #4a4a4a;
	font-size: 20px;
}
#project_area .child_project p
{
	color: #999999;
	font-size: 14px;
	text-align: center;
	line-height: 1.5em;
}
#project_area .child_project a
{
	background-color: #d54346;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border-radius: 10px;
}
#project_area .child_project a:hover
{
	
}

#footer_area
{
	width: 100%;
	clear: both;
	background-color: #d54346;
	padding: 40px 0;
	border-top: 10px solid #871f21;
	color: #fff;

}
#footer_area .child_footer
{
	width: 100%;
	clear: both;
	margin-bottom: 20px;
}
#footer_area .child_footer h2.title
{
	font-size: 20px;
	text-transform: uppercase;
}
#footer_area .child_footer p
{
	font-size: 16px;
	text-transform: none;
}
#footer_area .child_footer a
{
	color: #871f21;
}
#footer_area .child_footer ul
{
	margin: 0;
	padding: 0;
	padding-left: 10px;
	list-style: none;
}
#footer_area .child_footer ul li
{
	display: block;
	border-bottom: 1px solid #fff;
	padding: 5px 0;
}
#footer_area .child_footer ul li a
{
	
}
#footer_area .child_footer ul li a:hover
{
	
}
#footer_area .child_footer input
{
	width: 100%;
	background-color: #fff;
	border:1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;	
}
#footer_area .child_footer form input[type="submit"]
{
	width: 150px;
	background-color: #871f21;
	transition: 0.5s;
	border: none;
	color: #fff;
}

